

.root {
    -fx-accent: #1e74c6;
    -fx-background-image: url("/Resources/dark-mode-background.png");
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}

.scroll-pane,.border-pane,.tab-pane{
    -fx-background-image: url("/Resources/dark-mode-background.png");
    -fx-background-size: stretch;

}



.text-field {
    -fx-prompt-text-fill: #ec6f33;
}

.text-area {
    -fx-prompt-text-fill: #ec6f33;
}

.label{
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    color: white;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button{
    -fx-focus-traversable: false;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    background-color: white;
    -fx-font-family: "Aharoni";
    color: black;
    border-radius: 8px;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line { 
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
} 

.table-view{
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{    
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}